<h1>New Song</h1>
<form action="songs/new" method="post">
  <p>Name: <input type="text" name="song[name]"></p>
  <p>Artist: <input type="text" name="song[artist]"></p>
  <p>Genre(s):</p>
  <% Genre.all.each do |genre| %>
    <input type="checkbox" name="song[genres][]">
  <% end %>
</form>
